body {
    background-color: blue;
    color: white;
}
h1 {
    background-color: blue;
    font-weight: bold;
    color: green;
}
p {
    color: white;
    width: 300px;
}
/**
esto es un comentario dentro de un documento CSS
*/
